.banner2s {
    width: 100%;
    // height: 480px;

    .banner2sImg {
        width: 100%;
        // height: 480px;
    }
}

.aboutUsBigBox {
    position: relative;
    min-height: 471px;
    width: 63.158%;

    .aboutUsBox {
        min-height: 471px;
        width: 100%;
        background: url(../../images/abg0.png) no-repeat 0 0;
        position: absolute;
        top: -120px;
        border-radius: 6px;

    }

    .coreStrengthss {
        width: 100%;
    }

    .coreStrengthsttt {
        font-size: 24px;
        color: #333333;
        text-align: center;
        margin-top: 60px;
        height: 35px;
        width: 100%;
        // background-color: palegoldenrod
    }

    .garid1 {
        text-align: center;
        width: 127px;
        margin: 20px auto;
        border: 2px solid #D0DDF5;
    }

    .pcter {
        margin-top: 20px;
        color: #666666;

    }

    .aboutUsContents {
        font-size: 14px;
        color: #333333;
        width: 97%;
        // min-width: 60px;
        line-height: 20px;
        margin: 40px auto;
        text-align: left
    }

    .aboutUsT {
        font-size: 24px;
        color: #333333;
        margin: 40px auto 20px;
        text-align: center;

    }

    .aboutUsT1 {
        font-size: 18px;
        color: #1C3672;
        text-align: center;

    }
}

.developmentCourse {
    margin-top: -135px;


    .coreStrengths {
        font-size: 24px;
        color: #333333;
        text-align: center;
        margin-top: 60px;
        height: 35px;

    }

    .garid1 {
        text-align: center;
        width: 127px;
        margin: 20px auto;
        border: 2px solid #D0DDF5;
    }

    .pcter {
        margin-top: 20px;
        color: #666666;

    }

    .developmentCourseTitlwe {
        width: 100%;
        min-height: 60px;
        border: 1px solid #DCDCDC;
        font-size: 14px;
        color: #666666;
        text-align: center;
        line-height: 60px;
        margin-top: 40px
    }
}

.developmentCourseBigBox {
    position: relative;
    font-size: 14px;
    color: #666666;
    // width: 100%;
    height: 553px;
    margin-top: 60px;
    // background-color: palegoldenrod;

    span {
        color: #999999;
    }

    .developmentCourseImg {
        position: absolute;
        left: 38.9%
    }

    .developmentCourseIrem {
        position: absolute;
        top: 65px;
        left: 52%;

        .ssows {
            width: 406px;
            min-height: 20px;
            line-height: 20px;
            display: inline-block
        }

        .ssowsLadt {
            position: absolute;
            top: 0px;
            left: 45px;
        }
    }

    .Irem1 {
        top: 105px;
    }

    .Irem2 {
        top: 145px;
    }

    .Irem3 {
        top: 473px;
    }

    .IremList {
        position: absolute;
        top: 265px;
        right: 53%;
        font-size: 14px;
        color: #666666;


        .ssows {
            width: 430px;
            min-height: 20px;
            line-height: 20px;
            display: inline-block;
            text-align: right;
            // background-color: #fff;
        }

        .ssowsLadt {
            position: absolute;
            top: 0px;
            left: 45px;
        }
    }

    .List1 {
        top: 305px;
    }

    .List2 {
        top: 345px;
    }
}




.contactUs {
    // width: 100%;
    background: #FFFFFF;
    margin: -80px auto 0;
    padding-bottom: 80px;

    .container {
        // width: 100%;
    }

    .coreStrengths {
        font-size: 24px;
        color: #333333;
        text-align: center;
        margin-top: 60px;
        height: 35px;

    }

    .garid1 {
        text-align: center;
        width: 127px;
        margin: 20px auto;
        border: 2px solid #D0DDF5;
    }

    .pcter {
        margin-top: 20px;
        color: #666666;

    }

    .contactUsTitle {

        height: 140px;
        border: 1px solid #CDCDCD;
        margin: 40px auto;
        position: relative;

        .contactUsDetail1 {
            font-size: 14px;
            color: #666666;
            line-height: 20px;
            position: absolute;
            top: 40px;
            left: 10.51%;

            span {
                color: #151515;
            }
        }

        .De1 {
            left: 36.41%;
        }

        .De2 {
            left: 72.90%;
        }

        .De3 {
            top: 80px;

        }

        .De4 {
            top: 80px;
            left: 36.41%;

        }

        .De5 {
            top: 80px;
            left: 55.19%;

        }

        .De6 {
            top: 80px;
            left: 73.85%;

        }
    }

    .picLogobOX {
        height: 500px;
        width: 100%;
        background-color: palegoldenrod;

        .picLogo {
            width: 100%;
            // height: 500px;
        }
    }

}

.abTop {
    position: fixed;
    top: 700px;
    right: 50px;
    font-size: 40px;
    cursor: pointer;

    a:hover,
    a:visited,
    a:link,
    a:active {
        text-decoration: none;
    }

    a {
        text-decoration: none;
    }
}