.hearder {
	background: #ffffff;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 120px;
	line-height: 120px;
}

.logoTop {
	height: 60px;
}

.nav,
ul,
li {
	display: inline-block;
	height: 120px;
}

.nav {
	float: right;
	padding-right: 20px;

	ul,
	li,
	ol {
		list-style: none;
	}

	a {
		text-decoration: none;
		font-size: 18px;
		color: #333333;
	}

	a:hover {
		text-decoration: none;
	}

	a:active {
		text-decoration: none;
	}
}

ul .navItem {
	margin-left: 48px;
}

.selected {
	border-bottom: 4px solid #1c3672;

	a {
		color: #1c3672;
	}
}

.Graid {
	width: 100%;
	height: 40px;
	background-color: #f9f9f9;
}

.serportBox {
	height: 212px;
	background: #1C3672;
	margin: 30px auto;
	padding: 25px;
	text-align: center;

	.titles {
		font-size: 46px;
		font-family: 微软雅黑;
		color: #FFFFFF;

	}

	.teow {
		font-size: 20px;
		font-family: 微软雅黑;
		color: #FFCA3B;
		margin: 10px auto;
	}

	.lastTile {
		font-size: 30px;
		font-family: 微软雅黑;
		color: #FFFFFF;
	}

}

@media screen and (max-width:1079px) {
	.IndustryDynamicItemShow .times {
		display: none;
		font-size: 12px;
	}


}

.abTop {
	position: absolute;
	top: 1px;
	font-size: 40px;
	cursor: pointer;
}

.containerNav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20px;
}



.rightNav {
	width: 325px;
	height: 120px;
	margin: 0px 0px 0px 10px
}

.carousel-inner {
	width: 810px;

}

#lunBo img {
	width: 100%;
	max-height: 480px;
}

.rightNav table {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	height: 120px;
}

.rightNav table td {
	border-left: 1px solid #cccccc;
	border-top: 1px solid #ccc;
	height: 120px;
	text-align: center;
	cursor: pointer;
}

.tipImg {
	width: 44px;
	height: 44px;
	position: relative;
	top: -10px
}

.scoendTitle {
	font-size: 22px;
	color: #205ac4;
}

.hangYeTitles {
	width: 100%;
	height: 450px;
	margin: 10px auto;
	// background-color: rgb(228, 222, 230)
}

.hangYeTitles .ltemss {
	padding: 0
}

.fastPayLift {
	width: 100%;
	height: 450px;
	position: relative;


	.fastPayImg {
		width: 100%;
		height: 230px;
	}

	.fastPayLiftTitle {
		font-size: 16px;
		font-family: 微软雅黑;
		color: #1E50AE;
		margin-top: 30px
	}

	.fastPayLiftContent {
		font-size: 14px;
		color: #8F8F8F;
		line-height: 22px;
		margin-top: 6px
	}


}

.fastPayCenter {
	width: 100%;
	height: 100%;
	padding: 0 0px 0 30px;

	.item {
		width: 100%;
		height: 85px;
		background-color: #fff;
		position: relative;

		.logoiMGBox {
			width: 85px;
			height: 85px;
			display: inline-block;
		}

		.logoiMG {
			width: 85px;
			height: 85px;
		}

		.rightBox {
			display: inline-block;
			width: 255px;
			height: 100%;
			position: absolute;
			margin-left: 10px;

			.title {
				cursor: pointer;
			}

			.content {
				font-size: 12px;
				color: #999;
				margin-top: 10px;
				display: -webkit-box;
				// text-overflow: ellipsis;
				overflow: hidden;
				/*! autoprefixer: off */
				-webkit-box-orient: vertical; //设置伸缩盒子的子元素排列方式--从上到下垂直排列
				/* autoprefixer: on */
				-webkit-line-clamp: 3;
			}
		}
	}

	.garid {
		width: 100%;
		height: 2px;
		background-color: #f1f1f1;
		margin: 15px auto
	}
}

.img-circleS {
	width: 340px;
	height: 440px;
	margin: 0 0 0 20px
}

.teacherBox {
	padding: 0;
	margin: 20px auto 60px;

	.bigBox {
		margin-top: 10px;
		width: 100%;
		height: 570px;
		// background-color: magenta;

		.img12 {
			width: 470px;
			height: 260px;
			margin-bottom: 40px;
		}

		.navTitles {
			width: 100%;
			height: 45px;
			margin: 10px auto;

			.navTitlesItem {
				width: 130px;
				height: 45px;
				color: #666;
				font-size: 16px;
				display: inline-block;
				margin-left: 10px;
				text-align: center;
				line-height: 45px;
				cursor: pointer;
			}

			.navTitlesItemHover {
				background: #1e50ae;
				color: #fff
			}
		}

		.contentBox {
			width: 100%;
			height: 100px;
			// background-color: palevioletred;
			margin-top: 34px;

			.times {
				font-size: 18px;
				text-align: center;
				height: 100px;
				line-height: 100px;
				padding: 0
			}

			.title {
				font-size: 18px;
				font-family: 微软雅黑;
				color: #333333;
				font-weight: normal;
				text-decoration: none;
				font-style: normal;
				cursor: pointer;
			}

			.content {
				font-size: 14px;
				margin-top: 10px;
				color: #7c7c7c;
				display: -webkit-box;
				text-overflow: ellipsis;
				overflow: hidden;
				/*! autoprefixer: off */
				-webkit-box-orient: vertical; //设置伸缩盒子的子元素排列方式--从上到下垂直排列
				/* autoprefixer: on */
				-webkit-line-clamp: 3;
			}
		}

		.garids {
			width: 100%;
			height: 1px;
			background-color: #f1f1f1;
			margin-top: 46px
		}
	}
}

#myModalLabel {
	text-align: center;
	font-size: 20px;
	color: #1C3672;
}

.modal-body {
	text-align: left;
	font-size: 16px;
	color: #333333;
}

.modal-body1 {
	text-align: center;
	font-size: 18px;
	color: rgb(161, 44, 63);
	margin: 30px auto
}

.form-control {
	width: 200px;
	display: inline-block
}

.msgBigBox {
	width: 524px;
	height: 497px;
	margin: 10px auto;
	background: #FFFFFF;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.30);
	border-radius: 6px;
	position: relative;
	text-align: center;
	top: -193px;
	padding: 40px 10px 0px 60px
}

.msgItem {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #666666;
	// background-color: palegoldenrod;
	text-align: left;
	margin-top: 20px;
	padding-left: 50px;

	.msgItemTitle {
		margin-left: 14px
	}

	.t1 {
		margin-left: 17px
	}

	.t2 {
		margin-left: 7px
	}

	.msgItemIpt {
		width: 320px;
		height: 30px;
		display: inline-block
	}


}

.msgItemShows {
	text-align: left;
	font-size: 12px;
	color: #1C3672;
	margin: 10px 0 0 134px
}

.form-group {
	display: inline-block;


}

.submit {
	width: 390px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-image: linear-gradient(-180deg, #D1DDF6 0%, #EBF1FC 100%);
	border-radius: 6px;
	margin: 30px auto;
	font-size: 18px;
	color: #1C3672;
	cursor: pointer;
}

.dowebok {
	width: 100%;
	height: 25px;
	border: 1px solid red;
	overflow: hidden;

	a {
		display: block;
	}
}