.mediaBox {
    padding: 60px 0 20px 0;
    position: relative;

    .mediaAllNewsBox {
        min-height: 367px;
        width: 100%;
        margin-bottom: 60px;
        text-align: center;

        .items {
            cursor: pointer;
            border: #1C3672 1px solid;
            border-radius: 8px;
            margin-bottom: 15px
        }

        .mediaAllNewsTitle {
            font-size: 24px;
            color: #000;
            height: 33px;
            line-height: 33px;
            margin: 30px auto 10px;
            text-align: center
        }

        .imgs {
            height: 200px;
            text-align: center
        }

        .content {
            color: #000;
            padding: 15px;
        }
    }
}